<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="static-page">
    <div class="page-header">
      <h1>About</h1>
    </div>
  </div>
  <blockquote>
    <p>
      Here at Shook Hills, our cattle are raised in all natural open pastures with unlimited lush forage.
    </p>
  </blockquote>
  <br><br>
  <p class="larger-font">
    We sell only beef we raise here at Shook Hills.  No growth implants or growth stimulants.  No hormones.  No subtheraputic or topical antibiotics.  Out cattle graze on unlimited open pastures, and are supplemented with a vitamin, mineral, and corn diet.  Our feed ration contains no animal byproducts.  No pesticides, herbicides, or anthelmentics.  Instead, the feed is supplemented with minerals.</p>
  <br><br>
  <p class="larger-font">
  The majority of U.S. consumers are not aware that the meat they often consume has been raised with antibiotics in its feed.  Few are aware of the scientific dialogues linking the consumption of such meat with the development of antibiotic resistance in humans.
  </p>
</div>