<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="static-page">
    <div class="page-header">
      <h1>Contact - Please call with any questions!</h1>
    </div>
    <table class="table table-striped table-hover">
      <tr>
        <td><p class="larger-font">Owner: Matt Strunk</p></td>
        <td>641.208.5644</td>
      </tr>
      <tr>
        <td><p class="larger-font">To order: Tricia Murray</p></td>
        <td><p class="larger-font"></p>417.335.2235</td>
      </tr>
      <tr>
        <td><p class="larger-font">Email</p></td>
        <td><p class="larger-font"><%= link_to "shookhills@gmail.com", "mailto:shookhills@gmail.com" %></p></td>
      </tr>
    </table>
  </div>
</div>