<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="subpage"></div>
  <div class="static-page">
    <div class="page-header">
      <h1>Pricing</h1>
    </div>
    <h2 class="text-danger">Full finished beef delivered to your locker!*</h2>
    <p class="larger-font">Price will be <span class="text-danger">$2 per pound</span>, with the average finished beef weighing <span class="text-danger">1,250 pounds</span> for an average cost of <span class="text-danger">$2,500</span>.  We request <span class="text-danger">$1,250</span> down when the order is placed and the balance
    paid prior to delivery.  Prices are subject to change.  Please <%= link_to "contact us", contact_path %> with any questions.</p>
    <p class="text-danger larger-font">Note: Processing not included.</p>
    <h2>Pound for Pound Value</h2>
    <table class="table table-striped table-hover">
      <tr>
        <td><p class="larger-font">Current store pricing</p></td>
        <td><p class="larger-font">$4,370</p></td>
      </tr>
      <tr>
        <td><p class="larger-font">One full beef</p></td>
        <td><p class="larger-font">$2,500</p></td>
      </tr>
      <tr>
        <td><p class="larger-font">Total savings to YOU!</p></td>
        <td><p class="larger-font">$1,800</p></td>
      </tr>
    </table>
    <p class="text-danger">* delivery fee may apply</p>
    <%= image_tag("steak.jpg", alt: "delicious meal", class: "img-responsive") %>
  </div>
</div>