<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="static-page">
    <div class="page-header">
      <h1>My Promise To You</h1>
    </div>
    <p class="handwritten">My personal promise to you is to deliver a clean, healthy, hormone/antibiotic free
    beef to you and your family.  Here at Shook Hills, we believe in quality not quantity.  I have been 
    raising beef for over 25 years.  This is a product I am proud of and pleased to be able to share with you
    and your family.</p>
    <p class="handwritten"> - Matt Strunk, Owner</p>
  </div>
</div>