<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="static-page">
    <div class="subpage"></div>
    <div class="page-header">
      <h1>Why Tarentaise/Angus?</h1>
    </div>
    <p class="larger-font">
      Although many people are unaware of the tarentaise breed, they have been around for a very long time.  Tarentaise cattle originated in Spain and eventually worked their way into the United States.  They were used in the mountains and out west to improve the quality of meat and maternal traits.  Tarentaise milk has a high content of butter fat passing to your calf to create a lean full flavored, almost sweet succulent steak.
    </p>
    <%= image_tag 'shookhills1.jpg', class: "img-responsive" %>
  </div>
</div>