<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="static-page">
    <div class="subpage"></div>
    <div class="page-header">
      <h1>Why Tarentaise/Angus?</h1>
    </div>
    <%= image_tag("meal.jpg", alt: "delicious meal", class: "img-responsive") %>
    <p class="larger-font">
      Tarentaise cattle originated in Spain and eventually worked their way into the United States.  They were used in the mountains and out west to improve the quality of meat and maternal traits.  Tarentaise milk has a high content of butter fat passing to your calf to create a lean full flavored, almost sweet succulent steak.
    </p>
    <p class="larger-font">
      The Tarentaise breed's home is in the rugged Savoie region of France, site of the 1992 Winter Olympics. It surprises most people to discover that in France the breed is not dual-purpose, but is used solely for milk production for the making of Beaufort, a Gruyere-type cheese.</p>

    <p class="larger-font">
      The cows are managed on pasture under intensive grazing management. The average production is 5,500 kilos (12,199 lbs) of milk in a 305 day lactation with no fed concentrates in the summer. Cows are dried off in the fall and kept in the barn from October through April because of snow and the danger of avalanche. Their basic ration is hay, sometimes haylage. Only high-producing cows get up to 5 lbs. of concentrates daily and then only for the six weeks leading up to their AI breeding. Most calving and breeding occur in winter.  
    </p>

    <p class="larger-font">
      In May the cows are turned out onto lush pastures at 2,500 feet. In June they are moved to high (and extremely steep) pastures at an average elevation of 8,000 feet. Daily temperatures often swing from below freezing to high above 80 degrees. Grazing ski slopes, the cattle are so removed from any town that the herdsmen actually stay with the cows for the entire three months and make the cheese on the spot. Tarentaise are the only cattle in Europe hardy enough to graze this region profitably. Climbing at these altitudes is what makes their remarkable natural muscling and marbling, as well as endowing the breed with a very robust cardiovascular system. This contributes to their inherent high resistance to the common respiratory/shipping disease complexes found in North America.
    </p>
    <p class="larger-font">
      The first Tarentaise in North America were imported to Canada in 1972. A year later they were introduced to the U.S. beginning in the northern plains states and spreading to all corners of the continent with outstanding performance.      
    </p>
    <%= image_tag 'shookhills1.jpg', class: "img-responsive" %>
  </div>
</div>