    <!-- FOOTER -->
  <div class="container">
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>2015 Shook Hills, LLC</a></p>
      <div class="pull-right">
        <%= link_to 'http://www.facebook.com/shookhills' do %>
          <%= image_tag('facebook.png', class: "img-responsive") %>
        <% end %>
      </div>
    </footer>    
  </div>